/*头像*/


.js-avatar:hover {
  transform: rotateY(180deg) !important;
  -webkit-transform: rotateY(180deg) !important;
  -moz-transform: rotateY(180deg) !important;
  -o-transform: rotateY(180deg) !important;
  -ms-transform: rotateY(180deg) !important;
}

* {
  -webkit-transition: all ease-in 1.5s !important;
  -moz-transition: all ease-in 1.5s !important;
  -o-transition: all ease-in 1.5s !important;
  -ms-transition: all ease-in 1.5s !important;
}
